@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #f5f8ff;
}

/**shared styles**/
.btn-primary {
  background-color: #4e47ef;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 12px 36px;
}

.padding1 {
  padding-left: 141px;
  padding-right: 159px;
}
/*navbar-banner styles*************************/
.navbar-banner {
  height: 698px;
  background-image: url("Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-banner nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

.cooldark {
  width: 905px;
  height: 237px;
  padding-bottom: 85px;
  text-align: center;
  margin: 0 auto;
}
.cooldark h1 {
  padding: 158px 0 237px;
}
/*action section styles**************/
.action {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;
  padding-bottom: 116px;
}
.action .left {
  width: 517px;
  height: 203px;
}
.action .right img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
/************productive users styles********************************/
.productive-users {
  background-color: rgba(78, 71, 255, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 24px;
  margin-left: 141px;
  margin-right: 159px;
  margin-bottom: 137px;
}

.productive-users h1 {
  font-family: raleway;
  font-weight: bold;
  font-size: 38px;
}

.productive-users .pro {
  display: flex;
  justify-content: space-around;
  font-family: inter;
}

.productive-users .pro h1 {
  color: #4e47ff;
  font-size: 80px;
  font-family: inter;
}

.productive-users .pro p {
  color: #000000;
  opacity: 0.5;
  font-size: 20px;
}
/******users feedback styles********************************/
.users-feedback {
  text-align: center;
}
.feedback {
  display: flex;
  gap: 20px;
}
.feedback1 {
  padding: 24px;
  background-color: white;
  text-align: left;
  width: 29%;
}
.feedback1 .reviewer {
  margin-top: 7px;
  display: flex;
}
.feedback1 .reviewer img {
  border-radius: 50%;
  margin-right: 10px;
}
/**********focus styles******************************/
.focus {
  background-color: white;
  margin-left: 141px;
  margin-right: 159px;
  margin-top: 137px;
  padding: 71px 150px;
  text-align: center;
}
.focus img {
  border-radius: 48px;
}
/****let's get in touch styles****************/
.lets-get-in-touch {
  margin-left: 141px;
  margin-right: 159px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 71px 0;
}
.lets-get-in-touch .get-left {
  width: 528px;
  height: 232px;
}
.lets-get-in-touch h1 {
  font-size: 97px;
  font-weight: bold;
  font-family: raleway;
}

.lets-get-in-touch input,
.lets-get-in-touch textarea,
.lets-get-in-touch button {
  margin-bottom: 15px;
  width: 500px;
  outline: none;
}
.lets-get-in-touch input[type="text"],
.lets-get-in-touch input[type="email"],
textarea,
.lets-get-in-touch button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  border-radius: 10px;
  border: none;
}

.lets-get-in-touch textarea {
  width: 497px;
  height: 187px;
  color: rgba(0, 0, 0, 0.5);
}
/*****footer styles******/
footer {
  background-color: #ffffff;
  text-align: center;

  padding: 104px 575px 95px;
}

footer h1 {
  font-weight: bold;
  color: #4e47ff;
  font-family: inter;
  font-size: 100px;
}
footer p {
  color: #8987a1;
}
footer nav ul {
  display: flex;
  justify-content: center;
}
footer nav ul {
  list-style: none;
}
footer nav ul li {
  text-decoration: none;
  color: #8987a1;
  margin: 30px 15px;
}
